/* Dashboard Design Start */
/* Registration container */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003049; /* dark navy */
  font-family: "Poppins", sans-serif;
}

/* Card */
.card {
  width: 380px;
  padding: 35px;
  border-radius: 16px;
  background-color: #FCFFFD; /* white card */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid #FCFFFD; /* light teal border */
}

/* Title */
.form-title {
  color: #003049; /* dark text */
  text-align: center;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 22px;
}

/* Input field */
.input-field {
  border-radius: 10px !important;
  background: #FCFFFD; /* light teal input */
  border: 1px solid #003049; /* dark border */
  color: #003049;
}

/* Labels */
.ant-form-item-label > label {
  color: #003049 !important;
  font-size: 16px !important;
  font-weight: 600;
}

/* Button */
.registration-btn {
  height: 42px;
  font-size: 16px;
  border-radius: 20px;
  background: #003049; /* dark navy button */
  color: #FCFFFD; /* white text */
  border: 1px solid #003049;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover */
.registration-btn:hover {
  background: #FCFFFD !important; /* light teal */
  color: #003049 !important; /* dark text */
  border: 1px solid #003049 !important;
  cursor: pointer;
}

/* Active click */
.registration-btn:active {
  background: #003049;
  color: #FCFFFD;
  border: 1px solid #003049;
}

/* Spinner Desaign Start */
/* OTP / Loader Container */
.otp-container {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  flex-direction: column;  /* spinner + text if any */
  background-color: #FCFFFD; /* optional page background */
}

/* Spinner  Design Start*/

/* OTP / Loader Container */
.otp-container {
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  flex-direction: column;  /* spinner + text if any */
  background-color: #FCFFFD; /* optional page background */
}

/* Spinner */
.spinner {
  border: 8px solid #f3f3f3; /* Light background */
  border-top: 8px solid #003049; /* primary spinner color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin-bottom: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Spinner Design End */

/* Dashboard Design End */
